/*****************************************
				FONTS
*****************************************/


/*****************************************
			GENERAL STYLING
*****************************************/

body, html {
    overflow: hidden;
    width: 100%;
}

body {
    font-family: VegurLight;
    margin-bottom: 0;
}

* {
    margin:0;
    padding:0;
}

/*****************************************
			   NAVIGATION
*****************************************/

.navbar {
	width: 100%;
	height: 
}