
<div class="container">
	<nav class="navbar">
		<ul>
			<li><a href="">order</a></li>
			<li><a href="">box examples</a></li>
			<li><a href="">faq</a></li>
			<li><a href="">blog</a></li>
			<li><a href="">contact</a></li>
			<li><a href="">press</a></li>
		</ul>
	</nav>
	<div class="home-background-img">
		<div class="g2g-logo"></div>
		<div class="arrow"></div>
	</div>
	<div class="our-mission-container">
		<div class="our-mission-header">our mission</div>
		<div class="our-mission-body">We are a non-profit, student-run CSA (community supported agriculture) model bringing fresh, local produce to the UVA and Charlottesville community. We strive to create a sustainable relationship between the UVA student body and the Charlottesville agricultural community. We seek to provide students, faculty, and community members with access to fresh, seasonal, and local produce on a weekly basis. Join us on our quest to eat healthy and live local!</div>
		<div class="our-mission-logo"></div>
	</div>
	<div class="box-example-container">
		<div class="box-example-header">box example</div>
		<div class="box-example-pic"></div>
		<div class="box-example-bullets"></div>
	</div>
	<div class="get-started-container">
		<div class="get-started-header">ready to get started?</div>
		<div class="get-started-body">Choose between pre-built snack boxes and produce boxes, delivered weekly. Starting at only $10</div>
		<div class="get-started-btn"></div>
		<div class="get-started-logo"></div>
	</div>

	<!---- TO DO - CREATE FOOTER PARTIAL------>
</div>