<div class="order-header-container">
<div class="order-logo"><%= image_tag("orderlogo.png") %></div>
<div class="order-header">box order form</div>
</div>
<div class="order-form-container">
<div class="order-form-closed">We are not currently taking orders at this time. Please check back in a few days!</div>