<div class="order-header-container">
		<div class="order-logo"><%= image_tag("orderlogo.png") %></div>
		<div class="order-header">box order form</div>
	</div>
	<div class="order-form-container">
		<div class="order-form-content-container">
			<div class="order-form-header">Contact info:</div>
			<form action="/order" class="order-form" method="post">
			 <input type="text" name="name" placeholder="full name">
			 <br>
			 <input type="text" name="email" placeholder="email">
			 <br>
			 <input type="text" name="phone" placeholder="phone number">
			 <br>
			 <div class="order-form-header">Select your box:</div>
			 <br>
			 <textarea placeholder="message"></textarea>
			 <input type="image" value="Submit" src="/assets/submit.png">
			</form>
		</div>
	</div> 