<div class="container">

	<%= render "layouts/nav" %>
		
	<%= render "order/form" %>

	<div>Please be aware that, do to the local, organic nature of our food, some last-minute swaps may be necessary to accommodate unexpected changes in availablilty</div>
	<br>
	<div>Please note: if no form of payment, (PayPal or Venmo) has been received by Wednesday, at noon, your order will not be processed - and you won't get your greens!</div>
</div>
