<div class="container">
	<%= render "layouts/nav" %>
	<div class="order-header-container">
		<div class="order-logo"><%= image_tag("orderlogo.png") %></div>
		<div class="order-header">box order form</div>
	</div>
	<div class="order-form-container">
		<div class="order-form-closed">We are not currently taking orders at this time. Please check back in a few days!</div>
		<!-- <div class="order-form-content-container">
			<div class="order-form-header">Contact info:</div>
			<form action="/order" class="order-form" method="post">
			  <input type="text" name="name" placeholder="full name"><br>
			  <input type="text" name="email" placeholder="email"><br>
			  <input type="text" name="phone" placeholder="phone number"><br>
			  <div class="order-form-header">Select your box:</div>
			  <br>
			  <div class="row">
			  	<div class="six columns">
				  <input type="checkbox" name="produce_box" value="produce">
				  		<div class="produce-box-header">produce box $10</div><br>
				  		<div class="produce-box-body">Yellow Peaches (Saunders Brothers Orchard), Red Peppers, Yellow Squash, Red Leaf Lettuce, Basil (UVA Community Garden)</div>
				  <br>
				</div>
				<div class="six columns">
				  <input type="checkbox" name="snack_box" value="snack">
				  		<div class="produce-box-header">snack box $10</div><br>
				  		<div class="produce-box-body">Apple cider donuts (Carpe Doughnut), Granola (Shady Lane Farm), Asian Pears (Saunders Brothers Orchard), Concord Table Grapes</div>
				  <br>
				</div>
			  </div>
			  <div class="order-form-header">Add items a la carte:</div>
			  <br>
			  <div class="row">
			  	<div class="four columns">
				  <input type="checkbox" name="sweets" value="End of Summer Sweets"><div class="produce-box-header">"End-of-Summer Sweets" ($5)</div><div class="produce-box-body">Watermelon, Yellow Peaches (Saunders Brothers Orchard)</div>
				  <br>
				  <input type="checkbox" name="meats" value="Meat Lovers"><div class="produce-box-header">"Meat Lovers" ($9)</div>
				  <div class="produce-box-body">Sweet Italian Sausage (The Rock Barn)</div>
				  <br>
				</div>
				<div class="four columns">
				  <input type="checkbox" name="csnacks" value="Classic Snacks"><div class="produce-box-header">“Classic Snacks” ($5)</div><div class="produce-box-body">	Savory and Healthy Granola (Shady Lane)        </div>
				  <br>
				</div>
				<div class="four columns">
				  <input type="checkbox" name="extra" value="Extra Greens"><div class="produce-box-header">“Extra Greens” ($5)</div><div class="produce-box-body">Red Leaf Lettuce, Romaine Lettuce, Basil</div>
				  <br>
				</div>
			  </div>
			  <div class="order-form-header">Comments:</div>
			  <br>
			  please specify any dietary restrictions so we may accomodate you<br><textarea></textarea>
			  <div class="order-form-header">Discount code:</div>
			  <br>
			  <input type="text" name="discount_code">
			  <div class="order-form-header">Questions?</div>
			  <br>
			  <div class="order-form-questions">If you have any questions about your order, please feel free to contact us at <strong><%= mail_to "greenstogrounds@gmail.com", "greenstogrounds@gmail.com"%></strong></div>
			  <br><br>
			  <input type="image" value="Submit" src="/assets/submit.png">
			</form>
		</div> -->
	</div>
</div>