<div class="container">
	<%= render "layouts/nav" %>
	<div class="order-header-container">
		<div class="order-logo"><%= image_tag("questionmark.png") %></div>
		<div class="order-header">frequently asked questions</div>
	</div>
	<div class="questions-container">
		<div class="question">What types of boxes do you offer? How much are they?</div>
		<div class="answer">Produce Boxes and Snack Boxes are the base packages - these start at just $10 each. Add-on packages, offered each week, are between $3-9 each.</div>
		<div class="question">Where / when is pickup for my box?</div>
		<div class="answer">Our pick-up table is located at Mad Bowl, between Rugby Road and Madison Avenue - look for our farm stand and Greens to Grounds signs! Our pickup is from 12:30pm to 3pm on Fridays. You get to pick the items you ordered, just like at the farmer's market!<br>The rain location for pick-up is HackCville (#9 Elliewood Avenue on the Corner)</div>
		<div class="question">I’ve worked with CSA’s before, is this a similar model to the ones I’ve seen?</div>		
		<div class="answer">Greens to Grounds is not your typical CSA, as it works to accommodate the college lifestyle of many of our customers (and staff!). Currently, our model involves buying items in bulk from organizations such as Local Food Hub, which consolidates products from local farms in the area. We also source some of our food from community gardens on Grounds, such as the Hereford residence garden! By bringing students together to purchase one collective box, we are able to offer a larger variety of local goods at a discounted rate. How do you like them apples?</div>
		<div class="question">I live in first year dorms. Is this for me?</div>
		<div class="answer">Absolutely! Most of our produce can be eaten raw, and most dorms have cooking utensils and a kitchen available for communal use. We are also working hard to include dorm-friendly recipes on our blog, including ideas that use microwaves and limited kitchen wares. If you're having trouble figuring out how to use your box, please drop us a line! We want to make sure that all of our customers have a satisfactory experience, regardless of residence.</div>
		<div class="question">I can’t afford this every week, but I still want fresh, local food. What can I do?</div>
		<div class="answer">We understand that food can be expensive, and our boxes can sometimes feed more than one person - so tell your friends about Greens to Grounds! Sharing a box with a friend or a roommate can slash costs while providing the fresh foods you crave. Better yet, make larger meals with your box that can be eaten over multiple days, or shared with the rest of your house/apartment!</div>
		<div class="question">I don’t have the time or energy to cook. Do you offer anything I would like?</div>
		<div class="answer">Of course! Most of our produce can be eaten raw, and we have specific offerings that allow you to just grab a snack and go! Check out our new snack box - with apples, granola, nuts, and other ready-to-go snacks, no pots and pans are required!</div>
	</div>
</div>