.footer-container {
	width: 100%;
}

.footer-info-section {
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
	background-color: #262626;

	.footer-row {
		width: 90%;
		margin: 0 auto;
		padding-top: 40px;
	
		.footer-contact-col {
			color: white;
			display: inline-block;
			width: 40%;

			p {
				width: 80%;
			}
		}

		.footer-social-media {
			color: white;
			display: inline-block;
			vertical-align: top;
			width: 29%;
			padding-bottom: 30px;

			.footer-social-media-logos {
				img {
					width: 40px;
					padding-right: 15px;
				}
			}
		}

		.footer-subscribe {
			color: white;
			display: inline-block;
			vertical-align: top;
			width: 29%;
		}	

	}

}

.footer-jubil-section {
	width: 100vw;
	height: 50px;
	background-color: #b1da60;
	padding-top: 20px;

	p {
		max-width: 400px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 750px){
	.footer-contact-col, 
	.footer-social-media,
	.footer-subscribe {
		min-width: 100%;
	}

	.footer-jubil-section {
		font-size: 14px;
		margin: 0 auto;
		width: 100%;

		p {
			width: 95%;
			margin: 0 auto;
			text-align: center;
			display: inline-block;
		}
	}
}

