.navigation {
    height: 80px;
    width: 100%;
    background-color: #262626;

    ul {
        list-style-type: none;
        padding-left: 30px;

        li {
            display: inline-block;
            padding: 25px 20px 20px 20px;
            text-shadow: 2px 2px 2px #000000;
            font-size: 1.1em;

            a {
                color: white;
                text-decoration: none;
                
                &:hover {
                    color: #c9fe65;
                }
            }

            a.current {
                color: #c9fe65;
            }
        }

        #vertical-bar {
            font-size: 1.4em;
            color: white;
            text-shadow: 2px 2px #000000;
        }
    }

    .logo {
        float: right;
        padding-top: 13px;
        padding-right: 50px;

        img {
            width: 80px; 
            height: 60px;
        }
    }
}

/*****************************************
            MEDIA QUERIES
*****************************************/

@media (min-width: 600px) and (max-width: 800px) {
    .navigation {

        ul {

            padding-left: 0;

            li {
                padding: 30px 10px !important;
                font-size: 0.9em !important;
            }

            #vertical-bar {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .navigation {

        ul {

            padding-left: 0;

            li {
                padding: 30px 10px !important;
                font-size: 0.9em !important;
            }

            #vertical-bar {
                display: none;
            }
        }

        .logo {
            padding-right: 20px;
        }
    }
}