.news-container {
<<<<<<< HEAD
	width: 100%;
	height: 250px;
    background-color: #ebebeb;

    .news-row {
    	width: 80%;
    	margin: 0 auto;
    	padding-top: 50px;
=======
width: 100%;
height: 250px;
    background-color: #ebebeb;

    .news-row {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
>>>>>>> 51517ef292a133b70b776ee2bf96931b559dba26
    }
}