.questions-container {
	width: 100%;
	background-color: #ebebeb;
	padding-bottom: 50px;

	.question {
		width: 90%;
		margin: 0 auto;
		font-size: 1.4em;
		font-weight: bold;
		padding-top: 50px;
	}

	.answer {
		width: 90%;
		margin: 0 auto;
		padding-top: 15px;
	}
}