<div class="footer-container">
	<div class="footer-info-section">
		<div class="row footer-row">
			<div class="footer-contact-col four columns"><p>contact us<br><br>feel free to email us with any questions, comments, or concerns you have<br><br>email | greenstogrounds@gmail.com</p></div>
			<div class="footer-social-media four columns">social media<br><br><div class="footer-social-media-logos"><a href="https://instagram.com/greenstogrounds/"><%= image_tag("instagram.png") %></a><a href="https://twitter.com/greenstogrounds"><%= image_tag("twitter.png") %></a><a href="https://www.facebook.com/greenstogrounds/timeline?ref=page_internal"><%= image_tag("facebook.png") %></a></div></div>
			<div class="footer-subscribe four columns">subscribe<br><br>enter your email below to receive our newsletter</div>
		</div>
	</div>
	<div class="footer-jubil-section"><p><a href="http://www.jubil.co">&copy Jubil, co.</a> | All Rights Reserved | Privacy Policy</p></div>
</div>