<div class="footer-container">
	<div class="footer-info-section">
		<div class="row footer-row">
			<div class="footer-contact-col four columns"><p>contact us<br><br>feel free to email us with any questions, comments, or concerns you have<br><br>email | <%= mail_to "greenstogrounds@gmail.com", "greenstogrounds@gmail.com"%></p></div>
			<div class="footer-social-media four columns">social media<br><br><div class="footer-social-media-logos"><%= image_tag("instagram.png") %><%= image_tag("twitter.png") %><%= image_tag("facebook.png") %></div></div>
			<div class="footer-subscribe four columns">subscribe<br><br>enter your email below to receive our newsletter</div>
		</div>
	</div>
	<div class="footer-jubil-section"><p>&copy Jubil, co. | All Rights Reserved | Privacy Policy</p></div>
</div>